---
import Layout from '../../layouts/Layout.astro'
import { Image } from 'astro:assets'
import { getCollection, render } from 'astro:content'
import SectionContainer from '../../components/sections/SectionContainer.astro'
import { formatDate } from '../../utils/formatDate'
import { Icon } from 'astro-icon/components'
import { SocialNetworks } from '../../constants'

export async function getStaticPaths() {
	const posts = await getCollection('posts')
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post }
	}))
}

const { post } = Astro.props
const { data } = post
const { title, img, description, published_at, category } = data
const { Content } = await render(post)
---

<Layout title={`${title} | Junior Calva Blog`}>
	<main class="min-h-screen bg-gradient-to-b from-secondary via-violet-950/50 to-secondary py-1">
		<SectionContainer class="my-2" margin>
			<article class="max-w-3xl mx-auto">
				{/*Top bar */}
				<div class="my-8 flex justify-between items-center">
					<a href="/" class="cursor-pointer"
						><Icon class={'text-blue-500 inline-block w-6 h-6'} name={'ui/arrow-turn-left'} />
						<span class="text-blue-400">Regresar</span></a
					>

					<div class="flex gap-4 items-center">
						<a href={SocialNetworks.LINKEDIN} class="cursor-pointer">
							<Icon size={25} name={'logos/linkedin'} />
						</a>
						<a href={SocialNetworks.GITHUB} class="cursor-pointer">
							<Icon size={25} name={'logos/github'} />
						</a>
					</div>
				</div>
				{/* Header Section */}
				<header class="mb-12">
					<div class="space-y-4">
						<div class="space-y-2">
							<p class="text-emerald-400 font-medium">{category}</p>
							<h1 class="text-4xl md:text-5xl font-bold text-zinc-100 leading-tight">
								{title}
							</h1>
						</div>

						<p class="text-base text-zinc-300 leading-relaxed">
							{description}
						</p>

						<div class="flex items-center space-x-4 text-sm text-zinc-400">
							<time datetime={published_at}>
								{formatDate(published_at)}
							</time>
							<span>•</span>
							<span>5 min read</span>
						</div>
					</div>
				</header>

				{/* Featured Image */}
				<div class="mb-12">
					<Image
						transition:name={title}
						src={img}
						alt={title}
						class="w-full rounded-2xl shadow-xl object-contain md:object-cover md:h-[400px]"
						width={1200}
						height={400}
						quality={100}
					/>
				</div>

				{/* Content */}
				<div class="prose prose-invert max-w-none">
					<Content />
				</div>
			</article>
		</SectionContainer>
	</main>
</Layout>
