---
import { type ImageMetadata } from 'astro'
import netmall from '../../assets/imgs/netmall2.webp'
import rever from '../../assets/imgs/rever.webp'
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
import CardProject from '../ui/CardProject.astro'
import Title from '../ui/Title.astro'
import SectionContainer from './SectionContainer.astro'
import type { SkillName } from '../../types/project'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

interface Project {
	title: string
	description: string
	techStack: SkillName[]
	img: ImageMetadata
}

const projects: Project[] = [
	{
		title: 'Rever AI',
		description:
			'Plataforma de generación de imágenes basada en IA utilizando modelos de Stable Diffusion. Implementada con una arquitectura moderna que combina Next.js para el frontend y FastAPI para el backend, ofreciendo una experiencia fluida en la generación y gestión de imágenes.',
		techStack: ['Next.js', 'FastAPI', 'Tailwind'],
		img: rever
	},
	{
		title: 'Netmall Marketplace',
		description:
			'Plataforma de comercio electrónico B2B que facilita la conexión entre proveedores y compradores. Desarrollada con Next.js y FastAPI, incorpora características avanzadas como gestión de inventario, sistema de pedidos y panel de administración personalizado.',
		techStack: ['Next.js', 'FastAPI', 'Tailwind'],
		img: netmall
	},
	{
		title: 'Portfolio Personal',
		description:
			'Sitio web personal desarrollado con Astro y TailwindCSS, optimizado para rendimiento y SEO. Implementa internacionalización, animaciones fluidas y una interfaz adaptativa para mostrar proyectos y habilidades técnicas.',
		techStack: ['Astro', 'Tailwind', 'Typescript', 'React'],
		img: netmall // Deberías reemplazar esta imagen con la de tu portfolio
	}
] as const

const gridClasses = [
	'md:col-span-2 row-span-1 md:row-span-full place-content-center',
	'md:col-span-2 row-span-1',
	'md:col-span-2'
]
---

<SectionContainer id="projects" margin class="my-24">
	<Title variant="Title">{t('projects.title')}</Title>
	<Title variant="description">{t('projects.subtitle')}</Title>
	<div
		class="grid grid-rows-3 md:grid-cols-4 md:h-[60%] h-[42rem] md:grid-rows-2 gap-10 md:gap-3 mt-8"
	>
		{
			projects.map((project, index) => (
				<CardProject
					class={gridClasses[index]}
					img={project.img}
					title={project.title}
					description={project.description}
					techStack={project.techStack}
				/>
			))
		}
	</div>
</SectionContainer>
