---
import { type ImageMetadata } from 'astro'
import uao from '../../assets/imgs/uao.webp'
import arcanume from '../../assets/imgs/arcanume.webp'
import map_crime from '../../assets/imgs/map_crime_ec.webp'
import habitnow from '../../assets/imgs/habitnow.webp'
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
import CardProject from '../ui/CardProject.astro'
import Title from '../ui/Title.astro'

import SectionContainer from './SectionContainer.astro'
import type { SkillName } from '../../constants'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

interface Project {
	title: string
	description: string
	techStack: SkillName[]
	img: ImageMetadata
	link: string
	link_source?: string
}

const projects: Project[] = [
	{
		title: 'Habitnow',
		description: t('projects.items.habitnow.description'),
		techStack: ['React', 'Firebase'],
		img: habitnow,
		link: 'https://play.google.com/store/apps/details?id=com.habitnow&hl=es_EC&pli=1'
	},
	{
		title: 'Arcanume',
		description: t('projects.items.rever.description'),
		techStack: ['Wordpress', 'HTML', 'CSS', 'Javascript', 'PHP'],
		img: arcanume,
		link: 'https://arcanumecuador.com/'
	},
	{
		title: t('projects.items.mapa_crime_ec.title'),
		description: t('projects.items.mapa_crime_ec.description'),
		techStack: ['React', 'Typescript', 'Tailwind', 'Python', 'FastAPI'],
		img: map_crime,
		link: 'https://www.mapacrimenecuador.info',
		link_source: 'https://github.com/JuniorCalva40/crime_map_ecuador'
	},

	{
		title: t('projects.items.Website UAO.title'),
		description: t('projects.items.Website UAO.description'),
		techStack: ['Astro', 'HTML', 'CSS', 'Javascript'],
		img: uao,
		link: 'https://juniorcalva40.github.io/information-technology-it-workspace/'
	}
] as const

// const gridClasses = [
// 	'md:col-span-2 row-span-1 md:row-span-full place-content-center',
// 	'md:col-span-2 row-span-1',
// 	'md:col-span-2'
// ]
---

<SectionContainer id="projects" margin class="my-24">
	<Title variant="Title">{t('projects.title')}</Title>
	<Title variant="description">{t('projects.subtitle')}</Title>
	<div class="grid grid-cols-2 gap-4 mt-6">
		{
			projects.map((project, index) => (
				<CardProject
					img={project.img}
					title={project.title}
					description={project.description}
					techStack={project.techStack}
					link={project.link}
					link_source={project.link_source}
				/>
			))
		}
	</div>
</SectionContainer>
